* {
    margin:0px;
    padding:0px;
    border:0px;
    font-family: sans-serif;
}

#container {
    background-color:#f9f9f9;
    width:1024px;
}

#maincontent {
    width:1024px;
    margin:0px auto;
    background-image: radial-gradient(#7f6673,#211115 );
}

#container > h1 {
    width:45%;
    margin:10px 25px;
    display:inline-block;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#container > h2 {
    width:45%;
    text-align: right;
    display:inline-block;
}

.sec_head {
    background-image: linear-gradient(#b3b3b7,#898593,#b3b3b7);
    color:white;
    padding: 10px;
}

#maincontent > img {
    width: 480px;
    margin: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: #c0c0c0;
    display: inline-block;
    vertical-align: top;
}

#about{
    display:inline-block;
    margin: 10px;
    width:480px;
    height: 328px;
    vertical-align: top;
    background-image: linear-gradient(to right,  #ffffff, #dbcbd9);h
}

#abouttext a {
    color:black;
}

.projectcol {
    width: 30%;
    margin: 15px;
    height: 600px;
    display: inline-block;
    vertical-align: top;
    background-image: linear-gradient(to right,  #ffffff, #dbcbd9);
}

.projectcol p {
    height:180px;
}

.projectcol > p:nth-of-type(2){
    text-align: center;
    margin: 10px 0px;
}


.projectcol > img:first-of-type {
    width:100%;
}

.small_logo {
    width:40px;
    margin: 5px;
    
}


.projectcol a {
    text-align: center;
    margin: auto;
    padding: 2px;
    background-color: #407d60;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #30634a;
    color: white;
    text-decoration: none;
    
}

#footer {

    
}

#container > p a {
    color: black;
    text-decoration: none;
}

#container > p {
    text-align: center;
    padding: 5px 0px;
    margin: 10px 0px;
}

#container > p img {
    height: 20px;
    margin: 2px;
    vertical-align: middle;
}
#container a.underlinedlinks {
    text-decoration:underline;
    font-style: italic;
}
